@import (inline) "../css/main.css";


@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@text-shadow-black: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
@text-shadow-white: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;





.nav-header-bar {
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.single-form-page {
    height: 100vh;
    width: 100vw;
    display: flex;

    .confirmation {
        font-size: 20px;
        font-weight: bold;
    }

    .page-container {
        margin: auto;
        width: 50%;

        .error-page {
            position: absolute;
            text-align: center;
        }

        .custom-form {
            background-color: rgba(255,255,255,.8);
        }
    }
}

// Utils
.text-bold {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

// Chat
.chat-box {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 50;
    text-align: right;

    .show-chat {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        padding: 3px;
        display: inline-block;
        cursor: pointer;
    }

    .chat {
        transition: max-height .5s;
        max-height: 0px;
        overflow: hidden;
        box-shadow: -1px -1px .5px black;
        position: relative;
        background: url("../images/chat-back.png") no-repeat -50% bottom, white;

        .spinner-injected {
            display: none;
        }

        .chat-header {
            text-align: left;
            padding: 10px;

            .chat-title {
                font-weight: bold;
            }

            .chat-user {
                font-size: 12px;
            }
        }

        .messages-box {
            height: 350px;
            width: 350px;
            margin: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 1px solid black;
            overflow-y: auto;
            background-color: rgba(255,255,255, .7);

            .message-entry {
                padding: 10px;
                border-bottom: 1px solid black;
                text-align: left;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: rgba(238,238,238,.9);
                }

                .message-user {
                    display: inline-block;

                    .profile-pic {
                        height: 30px;
                        width: 30px;
                        border-radius: 30px;
                        border: 2px solid black;
                        display: inline-block;
                        padding: 0px;
                    }

                    .user-name {
                        display: inline-block;
                        font-weight: bold;
                        margin-left: 2px;
                    }
                }

                .message-content {
                    display: inline-block;
                    word-break: break-all;

                    .bbcode_image {
                        width: 100%;
                        padding: 2px;
                        display: block;
                    }
                }

                .message-date {
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    text-align: right;
                    font-size: 10px;
                    color: rgba(51, 51, 51, .4);
                    cursor: pointer;

                    &:hover {
                        color: rgba(51, 51, 51, 1);
                    }
                }
            }
        }

        .message-input-box {
            width: 100%;
            text-align: center;
            padding: 10px;

            textarea {
                width: 100%;
                resize: none;
                border: 1px solid black;
                border-radius: 2px;
                outline: none;
                background-color: rgba(255,255,255, .7);
            }
        }

        &.chat-showed {
            max-height: 550px;

            .spinner-injected {
                display: initial;
            }
        }
    }
}

// Spinner
.spinner-injected {
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .spinner {
        background-color: white;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        div {
            background-color: black;
            padding: 5px;
        }

        span {
            color: black;
            font-weight: bold;
            display: block;
        }
    }
}

// Pagination
.pages {
    .page-container {
        position: relative;
    }

    .page-navigator {
        text-align: center;
        padding: 5px;

        .page-number {
            padding: 3px;
            background-color: white;
            border: 1px solid black;
            display: inline-block;
            cursor: pointer;

            &.active {
                background-color: black;
                color: white;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

// Admin & User Controls
.controls {
    position: fixed;
    top: 20%;
    z-index: 41;
    right: 0px;
    text-align: center;

    .command {
        background-color: black;
        color: white;
        font-size: 11px;
        padding: 10px;
        opacity: .8;
        cursor: pointer;
        clear: both;
        float: right;

        span {
            display: inline-block;
            width: 0px;
            overflow-x: hidden;
            font-size: 0;
        }

        &:hover {
            opacity: 1;

            span {
                width: inherit;
                font-size: inherit;
            }
        }

        i {
            font-size: 20px;
            display: inline-block;
        }
    }
}

// Form
.custom-form {

    &.text-center {
        input, textarea, select {
            text-align: center;
        }
    }

    textarea {
        resize: vertical;
    }

    .validation-summary-errors {
        color: red;
    }
}


// Buttons
.btn {
    padding: 5px;
    text-align: center;
    display: block;
    border: 1px solid;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    font-weight: bold;

    &:hover {
        opacity: 1;
    }

    &.btn-save {
        border-color: green;
        color: green;
        background-color: rgba(0,80,0,.2);
    }

    &.btn-edit {
        border-color: lightskyblue;
        color: lightskyblue;
        background-color: rgba( 135,206,250,.2);
    }

    &.btn-comment {
        width: 14%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        border-color: green;
        color: green;
        background-color: rgba(0,80,0,.2);
    }

    &:focus {
        color: inherit;
    }
}

.input-with-btn {
    position: relative;

    & > .btn-on-input {
        width: auto;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}


.avatar-container {
    position: relative;
    padding: 0px !important;

    .change-image-form {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3px;
        width: 100%;
        opacity: 0;
        &:focus{
            opacity: 1;
        }
    }

    &:hover {
        .change-image-form {
            opacity: 1;
        }
    }
}

.anime-popup, .episode-popup {
    cursor: pointer;
}
// Pop-Up
.pop-up {
    z-index: -1;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: opacity 300ms ease-in-out;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: rgba(28,28,28,0.9);
    background-size: 16px 16px;
    overflow: auto;

    .content {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 65%;
        opacity: 0;
        transition: all 250ms linear;

        @media @mobile, @tablet {
            width: 95%;
        }

        &.spinner-container {
            top: 50%;
            left: 50%;
            width: auto;
            transform: translate(-50%, -50%);
            display: inline-block;
            text-align: center;

            .content-body {
                display: inline-block;
                position: absolute;
                top: 50%;
                width: auto;
            }
        }

        & > .commands {

            .command {
                cursor: pointer;
                padding: 10px;
                font-size: 14px;
                color: white;
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                background-color: white;
                transition: all 300ms ease-in-out;
                border-bottom: .2px solid black;
                display: inline-block;

                &:hover {
                    color: black;
                    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
                    background-color: black;
                }
            }
        }


        &:last-of-type {
            opacity: 1;
        }

        .content-header {
            color: white;
            text-shadow: 2px 2px #000000;
            text-align: center;
            padding: 20px;

            .title {
                font-size: 35px;
                font-weight: bold;
            }

            .description {
                font-size: 16px;
                opacity: .8;
            }
        }

        .content-body {
            box-shadow: 1px 1px 1px 1.5px #000, -1px -1px 1px 1.5px #000;
            position: relative;
            background-color: white;
            margin: auto;
            margin-bottom: 2%;

            & > .custom-form {
                padding: 10px;
            }
        }

        .content-body.add-anime-partial {
            padding: 10px;
        }

        .content-body.profile-partial {
            .left-side {
                padding: 10px;
            }

            .username {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }

            .right-side {
                padding: 10px;
            }
        }

        .content-body.add-anime-partial, .content-body.edit-anime-partial, .add-announcement-partial, .content-body.add-episode-partial, .content-body.forgot-password-partial {
            width: 100% !important;

            .anime-search {
                display: block;
                text-align: center;

                .anime-search-input {
                    background: transparent;
                    width: 100%;
                    border: 1px solid black;
                }

                .anime-search-results {

                    .result-list {
                        overflow: auto;
                    }
                }


                .spinner {
                    div {
                        background-color: white;
                    }
                }
            }
        }

        .content-body.add-anime-partial {
            .add-anime-error {
                padding: 5px;
                color: red;
            }
        }

        .content-body.anime-list-partial {

            .anime-list {
                padding: 5px;
                display: flex;
                flex-flow: wrap;
                background-color: white;
                margin: auto;

                .anime-list-item {
                    position: relative;
                    display: inline-block;

                    .anime-status {
                        font-size: 12px;
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    img {
                        width: 200px;
                        height: 311px;
                    }

                    .mal-source {
                        img {
                            width: 25px;
                            height: auto;
                        }
                    }
                }
            }

            .anime-search {
                display: block;
                text-align: center;
                padding: 5px;

                .anime-search-input {
                    background: transparent;
                    width: 100%;
                }

                .advanced-search {
                    .by-genre {
                        background-color: rgba(144,238,144, .3);

                        & > label {
                            font-size: 11px;
                        }

                        .option {
                            font-size: 13px;
                        }
                    }

                    .by-status {
                        background-color: rgba(173,216,230, .3);

                        & > label {
                            font-size: 12px;
                        }

                        .option.active {
                            font-weight: bold;
                        }
                    }

                    .by-genre, .by-status {
                        padding: 5px;
                        text-align: left;

                        .options {
                            padding-left: 5px;

                            .option {
                                display: inline-block;
                                cursor: pointer;

                                label {
                                    cursor: pointer;
                                }

                                input[type=checkbox] {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .anime-list-item {
                &.hide-by-name, &.hide-by-status, &.hide-by-genre {
                    display: none;
                }
            }
        }

        .content-body.add-episode-partial, .content-body.edit-episode-partial {
            label {
                font-size: 12px;
            }

            .sources {
                .source {
                    margin-bottom: 4px;

                    input {
                        margin-right: 5px;
                    }
                }
            }

            .add-source, .remove-source {
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                color: white;
            }
        }

        .content-body.episode-view {
            .tabs {
                position: relative;
                width: 100%;
                padding-top: 42.85%;
                height: auto;

                .tab {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: black;
                }
            }

            .view-count {
                font-weight: bold;
                padding: 5px;
                display: inline-block;
                float: right;
            }

            .episode-commands {
                display: inline-block;
                padding: 5px;

                .command {
                    display: inline-block;
                    font-size: 14px;
                    padding: 2px;
                    cursor: pointer;
                    opacity: .8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .comments, .comment-replies {
                padding: 5px;

                .comments-header {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 5px;
                }

                .comments-list {

                    .comment {
                        padding: 5px;

                        .comment-avatar {
                            vertical-align: top;
                            padding: 5px;

                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }

                        .comment-details {
                            padding: 5px;
                            width: 100%;

                            .comment-user {
                                font-weight: bold;
                                font-size: 12px;

                                .show-reply-form, .delete-comment {
                                    font-weight: normal;
                                    display: inline-block;
                                    cursor: pointer;
                                }
                            }

                            .comment-content {
                                padding: 5px;
                                display: inline-block;
                                margin-left: 5px;
                                background-color: rgba(0,0,0,.1);
                                box-shadow: 0.5px 0.5px 0.5px 0.35px #000;
                            }
                        }

                        .new-comment {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }

            .new-comment {
                padding: 10px;
                width: 100%;

                .comment-input {
                    width: 85%;
                    resize: vertical;
                    display: inline-block;
                }

                .comment-btn {
                    width: 14%;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;

                    a {
                        width: 100%;
                        padding: 5px;
                        text-align: center;
                        display: block;
                        border: 1px solid green;
                        color: green;
                        background-color: rgba(0,80,0,.2);
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }

        .content-body.register-partial, .content-body.login-partial {
            text-align: center;

            input {
                text-align: center;
            }
        }

        .content-body.announcement-content {
            padding: 10px;
        }

        .spinner {
            div {
                background-color: black;
                padding: 5px;
            }

            span {
                color: black;
                font-weight: bold;
                display: block;
            }
        }
    }
}
// Announcements
.anns {
    .anns-list {
        .anns-list-item {
            position: relative;

            .delete-announcement {
                position: absolute;
                right: 5px;
                top: 5px;
                opacity: .8;
                z-index: 2;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
// Anime Item
.anime {
    .anime-details {
        vertical-align: top;
        font-size: 12px;
        width: 225px;
        background-color: black;
        color: white;

        .details {
            padding: 5px;
        }

        .cover {
            position: relative;

            .commands {
                position: absolute;
                top: 5px;
                right: 5px;
                text-align: right;

                .command {
                    font-size: 10px;
                    clear: both;
                    float: right;
                }
            }

            .score {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px #000000;
                font-size: 16px;
            }
        }
    }

    .anime-description {
        vertical-align: top;

        .tab {
            padding: 5px;
        }
    }
}
// Multi Tab
.multi-tab {
    width: 100%;
    position: relative;

    .tabs-labels {
        width: 100%;
        text-align: center;
        font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
        border: 0px;
        table-layout: fixed;

        .tab-label {
            font-weight: bold;
            opacity: .7;
            cursor: pointer;

            hr {
                background-color: black;
                height: 2px;
                border-radius: 5px;
                width: 0;
                margin: 0 auto 0 auto;
                border: 0;
            }

            &.active, &:hover {
                opacity: 1;

                hr {
                    width: 50%;
                    transition: width 300ms ease-in-out;
                }
            }
        }
    }

    .tab {
        display: none;
        width: 100%;

        .anime-episodes-list {
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-bottom: 30px;

            .anime-episode {
                padding-left: 5px;
                padding-right: 5px;
                background-color: rgba(0,0,0,.6);
                margin-bottom: 2px;
                display: flex;
                justify-content: space-between;

                .left-part {
                    display: inline-block;
                }

                .right-part {
                    display: inline-block;

                    div {
                        display: inline-block;
                    }
                }

                &:hover {
                    background-color: rgba(0,0,0,1);
                }
            }
        }

        &.active {
            display: block;
        }

        .tab-commands {
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;

            .tab-command {
                text-align: center;
                padding: 5px;
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                color: white;
                background-color: rgba(0,0,0,.7);
                cursor: pointer;

                &:hover {
                    background-color: black;
                }
            }
        }
    }
}
// Genre Filters
.genre-filter {
    .search-details {
        .genre-list {
            font-size: 12px;
        }

        .search-button {
            cursor: pointer;
        }
    }
}
// Bubbles
.bubble {
    padding: 1px 2px 1px 2px;
    font-size: inherit;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid;
    transition: all 200ms ease-in-out;
    opacity: .8;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1px;

    &.bubble-white {
        color: black;
        background-color: white;
        border-color: black;

        &:hover, &.active {
            color: white;
            background-color: black;
            opacity: 1;
        }
    }

    &.bubble-lightgreen {
        color: white;
        text-shadow: @text-shadow-black;
        background-color: lightgreen;
        border-color: black;

        &:hover, &.active {
            opacity: 1;
            color: black;
            text-shadow: @text-shadow-white
        }
    }

    &.bubble-lightblue {
        color: white;
        text-shadow: @text-shadow-black;
        background-color: lightblue;
        border-color: black;

        &:hover, &.active {
            opacity: 1;
            color: black;
            text-shadow: @text-shadow-white
        }
    }
}
