@import (inline) "../css/main.css";

.admin-controllers {
    position: fixed;
    top: 20%;
    z-index: 41;
    right: 0px;
    text-align: center;

    .command {
        background-color: black;
        color: white;
        font-size: 11px;
        padding: 10px;

        i {
            font-size: 20px;
            display: block;
        }
    }
}

.pop-up {
    z-index: -1;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: rgba(28,28,28,0.9);
    background-size: 16px 16px;

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        opacity: 0;

        &:last-child {
            opacity: 1;
        }

        .content-header {
            color: white;
            text-shadow: 2px 2px #000000;
            text-align: center;
            padding: 20px;

            .title {
                font-size: 35px;
                font-weight: bold;
            }

            .description {
                font-size: 16px;
                opacity: .8;
            }
        }

        .content-body {
            position: relative;
            background-color: white;
            margin: auto;

            .close-pop-up {
                position: absolute;
                right: 0px;
                top: 0px;
                padding: 5px;
                transform: translateY(-100%);
                font-size: 18px;
                color: white;
                text-shadow: 2px 2px black;
            }
        }

        .content-body.add-anime-partial {
            width: 100% !important;
            padding: 20px;

            .anime-search {
                display: block;
                text-align: center;

                .anime-search-input {
                    background: transparent;
                    width: 100%;
                    border: 1px solid black;
                }

                .anime-search-results {

                    .result-list {
                        overflow: auto;
                    }
                }


                .spinner {
                    div {
                        background-color: white;
                    }
                }
            }

            .add-anime-form {
                padding: 5px;

                .saveCommand {
                    width: 100%;
                    padding: 5px;
                    text-align: center;
                    display: block;
                    border: 1px solid green;
                    color: green;
                    background-color: rgba(0,80,0,.2);
                }
            }
        }

        .content-body.anime-list-partial {
            background-color: transparent;
            .anime-list {
                padding: 5px;
                display: flex;
                flex-flow: wrap;
                background-color: white;
                margin: auto;

                .anime-list-item {
                    position: relative;
                    display: inline-block;

                    img {
                        width: 200px;
                        height: 311px;
                    }
                }
            }
        }

        .spinner {
            div {
                background-color: black;
                padding: 5px;
            }
        }
    }
}

.anime {
    .anime-details {
        vertical-align: top;
        font-size: 12px;
        width: 225px;
        background-color: black;
        color: white;

        .details {
            padding: 5px;
        }

        .cover {
            position: relative;

            img {
            }

            .score {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px #000000;
                font-size: 16px;
            }
        }
    }

    .anime-description {
        padding: 5px;
        vertical-align: top;
    }
}


