@import (inline) "../css/main.css";

.admin-controllers {
    position: fixed;
    top: 20%;
    z-index: 41;
    right: 0px;
    text-align: center;

    .command {
        background-color: black;
        color: white;
        font-size: 11px;
        padding: 10px;

        i {
            font-size: 20px;
            display: block;
        }
    }
}

.anime-popup, .episode-popup {
    cursor: pointer;
}

.pop-up {
    z-index: -1;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: opacity 300ms ease-in-out;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: rgba(28,28,28,0.9);
    background-size: 16px 16px;
    overflow: auto;

    .content {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 65%;
        opacity: 0;
        transition: all 250ms linear;

        &.spinner-container {
            top: 50%;
            left: 50%;
            width: auto;
            transform: translate(-50%, -50%);
            display: inline-block;
            text-align: center;

            .content-body {
                display: inline-block;
                position: absolute;
                top: 50%;
                width: auto;
            }
        }

        .commands {
            .command {
                cursor:pointer;
                padding: 10px;
                font-size: 14px;
                color: white;
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                background-color: white;
                transition: all 300ms ease-in-out;
                border-bottom: .2px solid black;
                display:inline-block;

                &:hover {
                    color: black;
                    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
                    background-color: black;
                }
            }
        }


        &:last-of-type {
            opacity: 1;
        }

        .content-header {
            color: white;
            text-shadow: 2px 2px #000000;
            text-align: center;
            padding: 20px;

            .title {
                font-size: 35px;
                font-weight: bold;
            }

            .description {
                font-size: 16px;
                opacity: .8;
            }
        }

        .content-body {
            box-shadow: 1px 1px 1px 1.5px #000, -1px -1px 1px 1.5px #000;
            position: relative;
            background-color: white;
            margin: auto;
            margin-bottom: 2%;
        }

        .content-body.anime {
            & > table {
                height: 100%;

                .anime-details, .anime-description {
                    height: 100%;
                }
            }
        }

        .content-body.add-anime-partial, .content-body.edit-anime-partial, .add-announcement-partial {
            width: 100% !important;
            padding: 20px;

            .anime-search {
                display: block;
                text-align: center;

                .anime-search-input {
                    background: transparent;
                    width: 100%;
                    border: 1px solid black;
                }

                .anime-search-results {

                    .result-list {
                        overflow: auto;
                    }
                }


                .spinner {
                    div {
                        background-color: white;
                    }
                }
            }

            .add-anime-form, .edit-anime-form, .add-announcement-form {
                padding: 5px;

                .saveCommand {
                    width: 100%;
                    padding: 5px;
                    text-align: center;
                    display: block;
                    border: 1px solid green;
                    color: green;
                    background-color: rgba(0,80,0,.2);
                }
            }
        }

        .content-body.anime-list-partial {

            .anime-list {
                padding: 5px;
                display: flex;
                flex-flow: wrap;
                background-color: white;
                margin: auto;

                .anime-list-item {
                    position: relative;
                    display: inline-block;

                    .anime-status {
                        font-size: 12px;
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }

                    img {
                        width: 200px;
                        height: 311px;
                    }

                    .mal-source {
                        width: 25px;
                        height: auto;
                    }
                }
            }

            .anime-search {
                display: block;
                text-align: center;
                padding: 5px;

                .anime-search-input {
                    background: transparent;
                    width: 100%;
                }

                .advanced-search {
                    .by-genre {
                        background-color: rgba(144,238,144, .3);

                        & > label {
                            font-size: 12px;
                        }

                        .option.active label {
                            font-weight: bold;
                            background-color: rgba(0,0,0,1);
                            color: white;
                        }

                        .option label {
                            font-weight: normal;
                            background-color: rgba(0,0,0,.4);
                            color: white;
                            padding: 2px;
                            font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
                        }
                    }

                    .by-status {
                        background-color: rgba(173,216,230, .3);

                        & > label {
                            font-size: 12px;
                        }

                        .option.active {
                            font-weight: bold;
                        }
                    }

                    .by-genre, .by-status {
                        padding: 5px;
                        text-align: left;

                        .options {
                            padding-left: 5px;

                            .option {
                                display: inline-block;

                                input[type=checkbox] {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .anime-list-item {
                &.hide-by-name, &.hide-by-status, &.hide-by-genre {
                    display: none;
                }
            }
        }

        .content-body.add-episode-partial, .content-body.edit-episode-partial {
            padding: 5px;

            label {
                font-size: 12px;
            }

            .sources {
                .source {
                    margin-bottom: 4px;

                    input {
                        margin-right: 5px;
                    }
                }
            }

            .add-source, .remove-source {
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                color: white;
            }

            .add-episode-form, .edit-episode-form {
                padding: 5px;

                .saveCommand {
                    width: 100%;
                    padding: 5px;
                    text-align: center;
                    display: block;
                    border: 1px solid green;
                    color: green;
                    background-color: rgba(0,80,0,.2);
                }
            }
        }

        .content-body.episode-view {
            .tabs {
                position: relative;
                width: 100%;
                padding-top: 42.85%;
                height: auto;

                .tab {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: black;
                }
            }

            .view-count {
                font-weight: bold;
                padding: 5px;
                display: inline-block;
                float: right;
            }

            .episode-commands {
                display: inline-block;
                padding: 5px;
            }

            .comments, .comment-replies {
                padding: 5px;

                .comments-header {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 5px;
                }

                .comments-list {

                    .comment {
                        padding: 5px;

                        .comment-avatar {
                            vertical-align: top;
                            padding: 5px;

                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }

                        .comment-details {
                            padding: 5px;
                            width: 100%;

                            .comment-user {
                                font-weight: bold;
                                font-size: 12px;

                                .show-reply-form, .delete-comment {
                                    font-weight: normal;
                                    display: inline-block;
                                    cursor: pointer;
                                }
                            }

                            .comment-content {
                                padding: 5px;
                                display: inline-block;
                                margin-left: 5px;
                                background-color: rgba(0,0,0,.1);
                                box-shadow: 0.5px 0.5px 0.5px 0.35px #000;
                            }
                        }

                        .new-comment {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }

            .new-comment {
                padding: 10px;
                width: 100%;

                .comment-input {
                    width: 85%;
                    resize: vertical;
                    display: inline-block;
                }

                .comment-btn {
                    width: 14%;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;

                    a {
                        width: 100%;
                        padding: 5px;
                        text-align: center;
                        display: block;
                        border: 1px solid green;
                        color: green;
                        background-color: rgba(0,80,0,.2);
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }

        .content-body.register-partial, .content-body.login-partial {
            padding: 10px;
            text-align: center;

            input {
                text-align: center;
            }
        }

        .content-body.announcement-content {
            padding: 10px;
        }

        .spinner {
            div {
                background-color: black;
                padding: 5px;
            }
        }
    }
}

.anime {
    .anime-details {
        vertical-align: top;
        font-size: 12px;
        width: 225px;
        background-color: black;
        color: white;

        .details {
            padding: 5px;
        }

        .cover {
            position: relative;

            .edit-anime-btn {
                position: absolute;
                top: 5px;
                right: 5px;
                opacity: .3;

                &:hover {
                    opacity: 1;
                }
            }

            img {
            }

            .score {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px #000000;
                font-size: 16px;
            }
        }
    }

    .anime-description {
        vertical-align: top;

        .tab {
            padding: 5px;
        }
    }
}

.multi-tab {
    width: 100%;
    position: relative;

    .tabs-labels {
        width: 100%;
        text-align: center;
        font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
        border: 0px;

        .tab-label {
            border: 1px solid black;
            border-top: 0px;
            transition: background-color 300ms ease-out;
            font-weight: bold;

            &.active, &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    .tab {
        display: none;
        width: 100%;

        .anime-episodes-list {
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            .anime-episode {
                padding-left: 5px;
                background-color: rgba(0,0,0,.6);
                margin-bottom: 2px;

                &:hover {
                    background-color: rgba(0,0,0,1);
                }
            }
        }

        &.active {
            display: block;
        }

        .tab-commands {
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;

            .tab-command {
                text-align: center;
                padding: 5px;
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                color: white;
                background-color: rgba(0,0,0,.7);

                &:hover {
                    background-color: black;
                }
            }
        }
    }
}

.video-js {
    height: 100% !important;
    padding-top: 0 !important;
}
