@model AnimeCentralWeb.Models.DomainViewModels.AnnouncementViewModel
@using AnimeCentralWeb.Domain
<div class="content">
    <div class="content-header">
        <div class="title">ADAUGA ANUNT</div>
    </div>
    <div class="commands text-right">
        <i class="fa fa-times close-pop-up command" aria-hidden="true"></i>
    </div>
    <div class="content-body add-announcement-partial">
        <form class="add-announcement-form custom-form">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select class="form-control" asp-for="Type" asp-items="@Html.GetEnumSelectList<AnnType>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea type="text" asp-for="Content" class="form-control" />
            </div>

            <button type="submit" class="btn btn-save">Adauga</button>
        </form>
    </div>
</div>
