@model AnimeCentralWeb.Models.DomainViewModels.EpisodeViewModel

<div class="content">
    <div class="content-header">
        <div class="title">ADAUGA EPISOD</div>
        <div class="description">@Model.AnimeTitle</div>
    </div>
    <div class="commands text-right">
        <i class="fa fa-times close-pop-up command" aria-hidden="true"></i>
    </div>
    <div class="content-body add-episode-partial">
        <form class="add-episode-form">
            <input type="hidden" asp-for="AnimeId" />
            <div class="form-group">
                <label asp-for="Order"></label>
                <input type="text" class="form-control" asp-for="Order" />
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" asp-for="Title" class="form-control" />
            </div>

            <label asp-for="Sources"></label> <i class="fa fa-plus add-source" aria-hidden="true"></i> <i class="fa fa-trash remove-source" aria-hidden="true"></i>
            <div class="sources form-inline">
                <div class="source">
                    <input asp-for="Sources[0].Label" class="form-control source-tag" placeholder="Tag sursa..." /><input asp-for="Sources[0].Link" class="form-control source-link" placeholder="Link sursa..." />
                </div>
            </div>
            <a class="saveCommand" style="text-decoration:none" onclick="$('.add-episode-form').submit()">Adauga</a>
        </form>
    </div>
    <script>
        $(".remove-source").hide();
    </script>
</div>
