<div class="content">
    <div class="content-header">
        <div class="title">ADAUGA ANIME</div>
        <div class="description">Cautarea anime-ului se face dupa baza de date de la <a style="color: white; text-decoration: none;" href="https://myanimelist.net/">MyAnimeList</a></div>
    </div>
    <div class="commands text-right">
        <i class="fa fa-times close-pop-up command" aria-hidden="true"></i>
    </div>
    <div class="content-body add-anime-partial">
        <div class="add-anime-error"></div>
        <div class="anime-search">
            <div style="position:relative">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" class="anime-search-input" placeholder="Nume anime MAL...">
            </div>

            <div class="anime-search-results">
                <div class="result-list">
                    <div class="result" style="display:none">
                        <div class="anime-image">
                            <img src="https://myanimelist.cdn-dena.com/images/anime/3/40451.jpg" />
                        </div>
                        <div class="details">
                            <div class="anime-title"><b>Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka</b> (<span class="anime-type">TV</span>)</div>
                            <div class="anime-score"><span class="glyphicon glyphicon-star" style="color:gold;"></span><span class="result-score">7.49</span></div>
                            <div class="anime-episodes">Episoade: 366</div>
                            <div class="anime-status">Finished Airing</div>
                        </div>
                    </div>
                </div>
                <div class="no-results" style="display:none">Niciun rezultat pentru "<span class="search-value"></span>"</div>
                <div class="search-more">
                    Vezi toate rezulatele pentru "<span class="search-value"></span>"
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
        </div>
    </div>
    

</div>