@model List<AnimeCentralWeb.Models.DomainViewModels.CommentViewModel>

<div class="comments">
    <div class="comments-header"><i class="fa fa-comment"></i> Comentarii (@Model.Count)</div>
    <div class="comments-list">
        @foreach (var comment in Model)
        {
            <div class="comment">
                <div class="comment-user">Anonymus</div>
                <div class="comment-content">@comment.Content</div>
                <div class="comment-replies">
                    @foreach (var reply in comment.Replies)
                {
                        <div class="comment">
                            <div class="comment-user">Anonymus</div>
                            <div class="comment-content">@comment.Content</div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

