@model ForgotPasswordViewModel
<div class="content">
    <div class="content-header">
        <div class="title">Recuperare Parola</div>
    </div>
    <div class="commands text-right">
        <i class="fa fa-times close-pop-up command" aria-hidden="true"></i>
    </div>
    <div class="content-body forgot-password-partial">
        <form class="forgot-password-form custom-form text-center">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div>
                    <input asp-for="Email" class="form-control text-center text-bold" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default btn-save">Trimite</button>
                </div>
            </div>
        </form>
    </div>
</div>
