@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_LayoutSingleForm";
}

<div class="page-container text-center">
    <p class="confirmation">Parola a fost resetata cu succes.</p>
    <p><a href="/">Inapoi la pagina principala</a>.</p>
</div>

